// COLORS
$color-primary: orangered;
$color-white:#ffffff;
$color-grey:#768088;
$color-black:#2E2E2E;
$color-border:#dedede;

// FONTS
$font-stack:"Lora", "Arial", sans-serif;
$font-email:"Roboto", "Arial", sans-serif;